.progressText {
  font-family: Poppins;
  font-size: 80px;
}

.progressCircle {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.backgroundCircle {
  fill: none;
  stroke: #282830;
}

@media only screen and (max-width: 1024px) {
  .progressCircleContainer {
    width: 100%;
  }

  .progressCircleContainer svg {
    width: 100%;
  }
}
