.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 125px;
  padding-bottom: 135px;
  gap: 60px;
  align-items: center;
}

.title {
  display: block;
  font-family: Syne;
  font-weight: bold;
  font-size: 96px;
  color: white;
  text-align: left;
  letter-spacing: -1px;
  line-height: 94px;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline-start: 0;
  gap: 60px;
}

.timer > li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 120px;
  height: 160px;
  border: 1px solid #14f195;
  border-radius: 17px;
}

.timer > li > span:first-child {
  display: block;
  font-family: Poppins;
  font-size: 60px;
  line-height: 1;
  color: white;
  letter-spacing: 10%;
  text-align: center;
}

.timer > li > span:last-child {
  display: block;
  font-family: Syne;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: white;
  text-align: center;
}

.nowrap {
  white-space: nowrap !important;
}

@media only screen and (max-width: 1300px) {
  .section {
    gap: 0;
  }

  .timer {
    gap: 40px;
  }

  .timer > li {
    width: 100px;
    height: 160px;
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
    gap: 0;
  }

  .title {
    font-size: 60px;
    line-height: 54px;
  }

  .timer {
    gap: 10px;
  }

  .timer > li > span:first-child {
    font-size: 40px;
  }

  .timer > li > span:last-child {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .timer > li {
    width: 80px;
    height: 160px;
  }
}
