.section {
  position: relative;
  padding-top: 78px;
}

.title {
  font-family: Syne;
  font-weight: bold;
  font-size: 96px;
  letter-spacing: -1px;
  line-height: 94px;
  color: white;
  text-align: center;
  padding-bottom: 16px;
}

.totalSupply {
  font-family: Syne;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: white;
  padding-bottom: 108px;
}

.pieChart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section > img {
  position: absolute;
  top: 25px;
  left: 60px;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 60px;
    line-height: 54px;
  }

  .totalSupply {
    font-size: 24px;
  }

  .section > img {
    position: relative;
    top: unset;
    left: unset;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  .pieChart {
    display: block;
  }

  .pieChart > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 44px;
    line-height: 34px;
  }
}
