@font-face {
  font-family: Syne;
  src: url(./assets/fonts/syne.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/poppins-bold.ttf);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }
}
